@tailwind base;
@tailwind components;
@tailwind utilities;

.name-animate {
  animation: name-animate 2s infinite;
}
@keyframes name-animate {
  0% {
    transform: skewX(20deg);
  }
  50% {
    transform: skewX(-20deg);
  }
  100% {
    transform: skewX(20deg);
  }
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(113 113 122);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(6 182 212);
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(8 145 178);
  }
}
